{{#if showPushNotificationPrompt}}
      <div class="wrap">
        <div class="row">
          <div class="consent_banner alert alert-info">
            <div class="close" {{action "dismiss"}}><i class="fa fa-times d-icon d-icon-times"></i></div>
            {{{ consentPrompt }}} <a {{action "subscribe"}}>{{i18n 'discourse_push_notifications.consent_enable'}}</a>.
          </div>
        </div>
      </div>
{{/if}}
